/* Reset some basic elements for consistency */
body, h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: pink;
    color: #111;
    line-height: 1.6;
}

/* Center the content */
.container {
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

header, section, footer {
    margin-bottom: 20px;
    text-align: center; /* Keeps headers and footers centered */
}

/* Styling the image */
.profile {
    max-width: 200px;
    height: auto;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Shadow effect */
    margin-bottom: 20px;
}

/* Links and Buttons */
a {
    display: inline-block;
    background-color: #111111;
    color: #ffffff;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #043243;
}

/* Project and Experience sections */
article, div {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
}

section {
    overflow-x: auto; /* Enable horizontal scrolling */
    text-align: left; /* Ensures content within sections is left-aligned */
    max-width: 800px; /* Maximum width to prevent stretching */
    margin: auto; /* Centers the section */
}

/* Left-align paragraphs */
p {
    text-align: left; /* Makes paragraphs left-aligned */
}

.experience img {
    max-width: 200px; /* Adjust the maximum width as needed */
    height: auto; /* Maintain aspect ratio */
}

h3 {
    color: #111111;
}

footer p {
    font-size: 0.8em;
    text-align: center;
}
